.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-third {
    width: 33.3%;
}

.col-half {
    width: 50%;
}

.col-4th {
    width: 25%;
}

.col-34th {
    width: 75%;
}

@media screen and (max-width: 600px) {

    .col-third,
    .col-4th,
    .col-half,
    .col-34th {
        width: 100%;
    }
}