*{
    margin: 0;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif; 
}
body{
    background-color: rgb(2, 2, 2);
    color: rgb(251, 251, 251);
}
nav{
    background-color: #417a9b;
    flex: auto;
}
.spacer{
    margin-left: 2%;
}
video{
    width:100%;
    height:auto;
}
.center{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}
.sec1{
    background-color: rgb(138, 43, 226);
}
.sec2{
    background-color: rgb(47, 79, 79);
}
.sec3{
    background-color: rgb(1, 49, 49);
}
#sdeckimg{
    height: auto;
    max-height: 55px;
    width:auto;
}
header{
    position: sticky;
    top: 0;
}
.navlink{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: larger;
    margin-top: 0.5%;

}
.navlink li{
    float: right;
    
}
.navlink li a{
    display: block;
    color: white;
    text-align: center;
    padding: 0.7rem 0.8rem;
    text-decoration: none;
}
.navlink li a:hover{
    background-color: black;
}
header li{
    list-style: none;
    display: inline-block;
    display: flex;
    top: 0;
    left: 0;
    
} 
.vgimg{
    width: 100%;
    height: auto;
}
.verimarg{
    margin: 4%;

}
/* response columns */
.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md {
    width: 33.3%;
}

.col-lg {
    width: 50%;
}

.col-sm {
    width: 25%;
}

.col-el {
    width: 75%;
}
.col-eel{
    width: 100%;
}
footer{
    background-color: black;
}

@media screen and (max-width: 600px) {

    .col-sm,
    .col-md,
    .col-lg,
    .col-el,
    .col-eel {
        width: 100%;
    }
}

